* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #ebebeb; 
    width: 100%; 
}
/*empieza header ¿agregar un menu desplegable estaría bien?*/
header{
    background-color: #7B9E87; 
    display: flex;
    width: 100%; 
    height: 130px;
    margin: 0 auto; 
    justify-content: space-between; 
    align-items: center;
}  

.a{
    text-transform: none; 
    cursor: pointer; 
}

#contenedorNav{
    width: 100%;
    height: 130px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

#navegacion{
    width: 600px;
    height: 60px; 
    display: flex; 
    align-items: flex-end;
} 

.header__logo{
    width: 200px;
    height: 150px;
} 

.botonDesplegable{
    position: absolute; 
    top: 0.75rem; 
    right: 1rem; 
    display: none;
    flex-direction: column; 
    justify-content: space-between; 
    width: 30px; 
    height: 21px; 
} 

.botonDesplegable .bar{ 
    height: 3px; 
    width: 100%; 
    background-color: white; 
    border-radius: 10px;
} 

@media (max-width:400px){
    .botonDesplegable {
        display: flex;
    }
    .navegacion__lista{
        display: none; 
        width: 100%;
    }
    .header{
        flex-direction: column; 
        align-items: flex-start; 
    }
    .navegacion__lista{ 
        width: 100%;
        flex-direction: column;
    }
    .navegacion__elementoLista{
        text-align: center; 
    } 
    .elementoLista__link{
        padding: .5rem 1rem ;
    }

}

.navegacion__lista{
    list-style-type: none;
    margin: 30px 0px 0px 0px;
    padding: 20px;
} 

.navegacion__elementoLista{
    display: inline-block; 
    font-size: 16px; 
} 

.elementoLista__link{
    text-decoration: none;
    padding: 0.3em;  
} 

/*termina header*/
/*empieza index.html no se que podría usar para darle más dinamismo ¿carrusel?*/
.logoSlogan{
    width: 100%;
    height: 300px; 
    margin: 0 auto; 
    border-bottom: solid 1px black; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch; 
}  

#indexbaner{
    width: 100%;
}

#logo{
    width: 250px; 
    height: 250px; 
    margin-top: 30px;
    float: left;
} 

#slogan{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #005f73; 
    background-color: #ebebeb;
} 
#tituloPrincipal{
    width: 100%; 
    height: 40px; 
    text-align: center; 
    margin: 0 auto; 
    color: #757878; 
    padding: 10px 0px 0px 0px; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

#cartaPresentacion{ 
    width: 100%;
    text-align: justify; 
    margin: 0 auto; 
    line-height: 25px; 
    color: #757878;
} 

.cartaPresentacion__salto{
    display: block;
} 
/*cierreindex.html*/
/* Empieza pie de página-me gustaría hacerlo con los iconitos de las redes sociales y agregarle un vínculo a la dirección al google maps*/
#pieDePagina{
    background-color: #7B9E87; 
    width: 100%; 
    height: 130px;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}  

.pieDePagina__elementos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#copy{
    position: relative; 
    width: 33.33%; 
    height: 33.33%; 
    display: inline; 
    text-align: center; 
    color: #565858;  
    font-size: 1rem;
} 

#contacto{
    position: relative; 
    width: 33.33%; 
    height: 33.33%; 
    display: inline; 
    text-align: center; 
    color: #565858; 
    font-size: 1rem;
}

#RRSS{
    position: relative; 
    width: 33.33%; 
    height: 33.33%; 
    display: inline; 
    text-align: center;
    color: #565858; 
    font-size: 1rem;
}
/*Fin del pie de página*/ 
/*Empieza Nosotros.html me gustaría hacer tarjetas en las fotoscon alguna descripción genérica cuando pasa el cursor por encima. Siento que le falta dinamismo a la página.*/
#contenedorTexto{
    width: 100%; 
    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.columna1{
    float: left;
}

.columna2{
    width: 569px;
    float: right;
}

.columna1__titulo{ 
    height: 60px;
    width: 500px;
    text-align: center; 
    vertical-align: middle;
    line-height: 20px; 
    padding: 20px 20px 20px;
    margin: 0px;
} 

.columna1__texto{
    width: 550px;
    text-align: justify;
    padding: 0px 20px 20px 20px;
} 

.columna2__titulo{
    height: 60px;
    width: 500px;
    text-align: center;
    line-height: 20px;
    padding: 20px 20px 20px 20px;
}

.columna2__texto{
    float:right; 
    width: 560px; 
    height: 120px;
    padding: 0px 0px 40px 0px;
    text-align: justify;
}

.fotos{
    width: 100%; 
    height: 300px;  
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
} 

.fotosGrupo1{
    width: 569px;
    height: 200px;  
}

.fotosGrupo2{
    width: 569px;
    height: 200px; 
} 

.fotosPerros{
    width: 284,5px; 
    height: 200px; 
    padding: 5px; 
    clear: both;
} 
/*termina nosotros.html*/
/*empieza experiencia_pet_city.html*/
.superior{
    width: 1138px; 
    height: 500px; 
    margin: 0 auto;
} 

#superior__banner{
    width: 1138px; 
    height: 500px; 
}

.contenedorExperiencias{
    width: 1138px; 
    height: 525px; 
    margin: 0 auto;
} 

.contenedorExperiencias__pazMental{
    text-align: center; 
    border-bottom: solid 2px black;
} 

#contenedorExperiencias__pazMental__titulo{
    color: #757878; 
    font-size: 35px;
    margin: 20px 0px 10px;
} 

#contenedorExperiencias__pazMental__texto{
    color: #565858; 
    margin: 0px 0px 25px;
} 

.contenedorExperiencias__compromiso{
    text-align: center; 
    border-bottom: solid 2px black;
} 

#contenedorExperiencias__compromiso__titulo{
    color: #757878; 
    font-size: 35px;
    margin: 20px 0px 10px;
} 

#contenedorExperiencias__compromiso__texto{
    color: #565858; 
    margin: 0px 0px 25px;
} 

.contenedorExperiencias__resena{
    text-align: center;
} 

#contenedorExperiencias__resena__titulo{ 
    text-align: center;
    color: #757878; 
    font-size: 35px;
    margin: 20px 0px 10px;
} 

#contenedorExperiencias__resena__texto{
    text-align: center;
    color: #565858; 
    margin: 0px 0px 25px; 
    font-style: italic;
} 

#cliente{
    text-align: center; 
    color: #565858;
} 
/*termina experiencia_pet_city.html*/ 
/*empieza servicios.html*/
.servicios{
    width: 1138px; 
    height: 70px; 
    margin: 0 auto;
} 

#servicios__titulo{
    text-align: center;
    color: #757878; 
    font-size: 35px;
    margin: 20px 0px 10px;
} 

#servicios__texto{
    text-align: center;
    color: #565858; 
    margin: 0px 0px 7px;
}  

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: center;
}

.col-sd-3 col-md-6{
    width: 100%;
}

.card{
    width: 500px;
}

.card-text{ 
    text-align: justify; 
    display: inline-block; 
    width: 100%;
}

#foto__tarjeta1{
    width: 375px;  
    padding-top: 65px;
} 

#foto__tarjeta2{ 
    width: 375px;

} 

#foto__tarjeta3{
    width: 375px;
} 

#foto__tarjeta4{
    width: 375px; 
    padding: 21px;
}
/*
.lista li{
    border: 1px solid #ffe066; 
    border-radius: 5px; 
    width: 100%;
} 

.item__titulo{
    border: 1px solid crimson; 
    background-color: #005f73;
}

.lista .cuerpoTarjeta{
    padding: 10px; 
    text-align: justify; 
    border: solid 1px black; 
    height: 25%;
} 

.lista .bontonContratar{
    margin-top: auto; 
    border-top: 1px solid #ffe066; 
    text-align: center;
} 

.item1{
    grid-area: a;
}  

.imgCaja1{
    grid-area: a; 
}

.item2{
    grid-area: b; 
} 

.item3{
    grid-area: c;
} 

.item4{
    grid-area: d;
}
/*
/*
.tabla{
    width: 1138px; 
    height: 100px; 
    margin: 0 auto; 
}

table{
    margin: 30px 0px 30px 0px;
}

th{
    letter-spacing: 2px;
    text-align: center; 
    background-color: #763d3d; 
    color: #ebebeb;
} 

td{
    letter-spacing: 1px; 
    text-align: center;
} 
*/

.requisitos{
    width: 1138px; 
    height: 150px; 
    margin: 0 auto;
} 

#requisitos__titulo{
    text-align: center;
    color: #757878; 
    font-size: 35px;
    margin: 20px 0px 10px;
} 

#requisitos__texto{
    text-align: center;
    color: #565858; 
    margin: 0px 0px 25px;  
    font-size: 16; 
    list-style: none;
} 
/*termina servicios.html*/
/*empiezacontactenos.html*/
.introYformulario{
    width: 1138px; 
    height: 500px; 
    margin: 0 auto;
}

.intro{
    width: 569px; 
    height: 200px; 
    float: left; 
    border-right: black solid 1px; 
    text-align: center; 
    padding-top: 10px;
}

.formulario{ 
    width: 569px; 
    height: 200px; 
    float: right; 
    padding-left: 15px;
} 

#intro__titulo{
    color: #757878; 
    font-size: 35px;
    margin: 20px 0px 15px;
} 

#intro__texto{
    text-align: center;
    color: #565858; 
    margin: 0px 0px 25px;  
    font-size: 16;
} 

label{
    display: inline-block; 
    width: 200px;
} 
/*final contactenos.html*/